*.pyc
*.o
*.so
.idea/
*.iml
GEMTools/bin
GEMTools/build
GEMTools/lib
GEMTools/.project
GEMTools/.cproject
build/
build/
python/Gemtools.egg-info
.vagrant
nosetests.xml
check-*.xml
dist/
python/gem/gembinaries/
downloads/
setuptools-*.egg
GEMTools/.settings/
distribute-0.6.34-py2.7.egg
distribute-0.6.34.tar.gz
python/src/gemtools.c
Cython-0.18-py2.7-macosx-10.8-intel.egg/
argparse-1.2.1-py2.6.egg
distribute-0.6.34-py2.6.egg
dist-utils/pyinstaller-2.0.tar.bz2
dist-utils/pyinstaller-2.0/
dist-utils/pyinstaller-2.1.tar.bz2
dist-utils/PyInstaller-2.1/
Cython-0.18*
environment/
.project
.settings/
.cproject
.pydevproject
.ropeproject/
*~
shtest.xml
test_results
dist-utils/gemtools.spec
