bindigs/python/.ropeproject
*.pyc
*.o
*.so
bindings/python/Gem.egg-info/
bindings/python/build/
bindings/python/dist/
bindings/python/nosetests.xml
/.emacs.desktop
/.emacs.desktop.lock
/GEMTools/#gem_tools.c#
/GEMTools/#gt_template.c#
/GEMTools/gem-map-2-fastq
/GEMTools/gem-map-filter
/GEMTools/gem-tools-examples
/bindings/python/nose-1.1.2-py2.7.egg/
/bindings/python/nose-1.1.2-py2.7.egg/*
.idea/
GEMTools/gem-source
bindings/python/.idea/
bindings/python/nose-1.2.0-py2.7.egg/
